#divcontainer{
    position: relative;
    height: 40vw;
    width: 40vw;
    background-image: url("https://raw.githubusercontent.com/gdsabarna353/gdsabarna353.github.io/main/clock.jpeg");
    background-repeat:no-repeat;
    background-size: 100%;
    margin: auto;
}

#hours, #minutes, #seconds{
    border-radius: 10px;
    position: absolute;
    background: black;
    transform-origin: bottom;
}


#hours{
    height:18%;
    border-radius: 10px;
    width:6px;
    background:blue;
    left: 48.5%;
    top:31.6%;
}

#minutes{
   height:26%;
    border-radius: 10px;
    width:3px;
    background:red;
    left: 49.05%;
    top:23.6%;
}

#seconds{
    height:34%;
    border-radius: 10px;
    width:2px;
    background:black;
    left: 49.4%;
    top:15.1%;
}

footer{
  text-align: center;
  color: green;
}

